<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=deContact list in railsvice-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <title>Ayuri Bessa - Profile</title>
  </head>
  <body>
      <div class="Container">
         <div class="Content">
            <div class="Wrapper">
               <div class="LeftContent col-xl-6 col-sm-12 split-image-left background-1">
               </div>
               <div class="RightContent col-xl-6 col-sm-12 split-image-right">
                  <div class="row justify-content-center">
                     <div class="col-9">
                        <div class="row">
                           <section>
                              <h2>Bio</h2>
                              <p>
                              Hi, my name is Ayuri, i'm 27 years old, currently living in Parnamirim/RN, Brazil. I'm a only child and grew up in a enviroment
                              filled with art, as my mom works independendly as an artist and my dad is a music addict, who owns a collection of vinyls, CDs and a variety of musical instruments. 
                              i had everything to be a musician or artist, but instead i was interested in technology. I Followed this Path, and graduated on school of Scienc and technology, and on the second cycle
                              of this course, people can choose to continue in a engineering career, which i chose telecommunications or communications engineering.
                              During that second level of graduation, i started my experience in IT area, mostly on the infrastructure segment, working with linux servers and networking.
                              Lately, i've been working with Containers and Kubernetes, but i intend to become a developer.
                              I also have a dog, called Bonnie. He's already 9 years old.   
                              </p>
                              <img class="img-fluid pt-5 pb-5" src="img/photo-2.jpg" alt="Photo">
                              <p> About my hobbies, i enjoy reading, jogging, playing guitar, acoustic guitar, keyboard and take photos of nature. 
                                 <br><br>
                                 My goals are get to know different cultures, run a half marathon, learn a third language and improve self knowledge. 
                                 My main values ​​are resilience, humility and discipline and a curiosity about me is that my name is from an indigenous dialect, called tupi-guarani, and it means 'meeting'.
                              </p>
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   </body>
</html>