
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <title>Ayuri Bessa - Profile</title>
  </head>
  <body>
      <div class="Container">
         <div class="Content">
            <div class="Wrapper">
               <div class="LeftContent col-xl-6 col-sm-12 split-image-left background-2">
               </div>
               <div class="RightContent col-xl-6 col-sm-12 split-image-right">
                  <div class="row justify-content-center">
                     <div class="col-9">
                        <div class="row">
                           <section>
                              <h1>Works</h1>
                              <p>
                                While doing my degree on telecommunication engineering, as we study mobile system, we simulated 
                                some aspects of mobile systems, like propagation models, and characterization of the propagation channel(Narrowband channel characterization, modeling and characterization of small-scale fading).
                                the main tool used to build and study the models was MATLAB, but i managed to do it with python as a personal challenge.
                              </p>  
                              <p>
                                Also on the domain of mobile system, another interesting project i did to was a 5G-NR Troughput calculator. Again, while the Professor did not fixed any tool, the resources provided by him
                                were mainly on MATLAB, but i developed it using python aswell. In this project, i had to understand which parameters had an effect on the Throughput rate, and build a simple
                                calculator with GUI.
                              </p>
                              <p>
                                Considering now my works during a specialization in IT, my final paper was a vulnerability analysis on the internal network of the TRE-RN main building. I worked together with the infrastructure team in the IT sector
                                to find, report and fix any vulnerability i could find working inside the building, like if i was a malicious person looking for sensitive data and information. 
                              </p>
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   </body>
</html>